:host {
    display: block;
    height: 100%;
    overflow: auto;
}
.qt{
    background-color: rgb(125, 206, 125);
    padding: 3px 10px;
    color: white;
    margin-right: 10px;
}
.head{
    display: flex;
    justify-content: center;
}
.f-droit{
    width: 20%;
}
.f-droit span{
    font-size: 40px;
}