<div class="containers">
    <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
    <!-- style="color:#2a2b38" -->
                <h6 class="mb-0 pb-3" ><span>Client</span><span>Restaurant</span></h6>
                <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                <label for="reg-log"></label>
        

<div class="card-3d-wrap mx-auto">
    <div class="card-3d-wrapper">
        <div class="card-front">
            <div class="center-wrap">
                <div class="section text-center">                
            
<div class="box">
    <span class="borderLine"></span>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <h2>Client</h2>
        <div class="inputBox">
            <input type="text" required="required" formControlName="email">
            <span>Login</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required="required"  formControlName="password">
            <span>Mot de pass</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#"> Mot de pass oublié?</a>
            <a href="#"> Créer un compte</a>
        </div>
        <input type="submit" value="Login"  name="" id="">
    </form>
</div>
        </div>
    </div>
</div>
                <!-- CARD Front End -->

                <div class="card-back">
                    <div class="center-wrap">
                        <div class="section text-center">

                            <div class="box">
                                    <span class="borderLine"></span>
                                    <form >
                                        <h2>Restaurant</h2>
                                        <div class="inputBox">
                                            <input type="text" required="required">
                                            <span>Username</span>
                                            <i></i>
                                        </div>
                                        <div class="inputBox">
                                            <input type="password" required="required">
                                            <span>Password</span>
                                            <i></i>
                                        </div>
                                        <div class="links">
                                            <a href="#"> Forgot Password</a>
                                            <a href="#"> Signup</a>
                                        </div>
                                        <button (click)="onSubmit()" >Se connecter</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>

    </div>
</div>

</div>
</div>
</div>
</div>
